* {
    background-color: beige;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: rgba(202, 146, 105, 0.623);
    border-style: solid;
    border-width: 10px;
}

div {
    text-align: center;
    align-items: center;
}


.header .title {
    padding-top: 50px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: burlywood;
    margin: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

a {
    text-decoration: none;
}
p {
    background-color: transparent;
    color: black;
    padding-top: 10px;
    font-size: 30px;
    font-weight:100px;
}

.row p{
    color:chocolate;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


